* {
    margin:0;
    padding:0;
}

body{
    background-color:hsl(212, 45%, 89%);
    margin:0;
    padding:0;
}

#MainFrame{
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    max-width:300px;
    max-height:500px;
    width:80%;
    height:80%;
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    /*justify-content:space-between;*/
    background-color:rgb(255, 255, 255);
    border-radius:12px;
}

#QRFrame{
    width:90%;
    height:90%;
    margin:5%;
    border-radius:12px;
}

#QRImg{
    width:100%;
    height:100%;
    border-radius:12px;
    top:5%;
}

h2{
    font-family: "Outfit";
    font-style:bold;
    font-weight:700;
    padding-bottom:10px;
    width:80%;
    height:30%;
}

p{
    font-family: "Outfit";
    font-size:15px;
    font-weight:400;
    width:70%;
    height:30%;
}

@media screen and (max-width: 768px) {

}