* {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
  color: hsl(0deg, 0%, 100%);
}

body {
  background-color: hsl(207deg, 26%, 17%);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.BG {
  background-color: hsl(207deg, 26%, 17%);
}

.Base {
  background-color: hsl(209deg, 23%, 22%);
}

#Top-Frame {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#Top-Frame p {
  font-weight: 600;
}

#Mode-Frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
#Mode-Frame p {
  font-weight: 300;
  font-size: 14px;
}
#Mode-Frame:hover {
  cursor: pointer;
}

#Search {
  width: 95%;
  height: 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-self: center;
}
#Search #Search-Button {
  width: 20px;
  height: 20px;
}
#Search #Search-Button:hover {
  cursor: pointer;
}
#Search #User-Input {
  width: 90%;
  height: 50px;
  background: none;
  border: none;
  outline: none;
  color: white;
}
@media (min-width: 1440px) {
  #Search {
    align-self: normal;
    width: 500px;
  }
}

#Mode {
  width: 15px;
  height: 15px;
}
#Mode:hover {
  cursor: pointer;
}

#Search-Frame {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media (min-width: 1440px) {
  #Search-Frame {
    flex-direction: row;
    justify-content: space-around;
  }
}

#Drop-Down-Button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60px;
  margin-left: 2.5%;
  border-radius: 10px;
  border: none;
  font-weight: 300;
  font-size: 16px;
}
#Drop-Down-Button:hover {
  cursor: pointer;
}
@media (min-width: 1440px) {
  #Drop-Down-Button {
    width: 100%;
  }
}

#Arrow-Down {
  width: 15px;
  height: 15px;
}

#DDM {
  left: 2.5%;
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1440px) {
  #DDM {
    left: 0;
    width: 250px;
  }
}

#Drop-Down-Menu {
  z-index: 2;
  display: none;
  flex-direction: column;
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-left: 2.5%;
  font-weight: 300;
  margin-top: 10px;
}
#Drop-Down-Menu:hover {
  cursor: pointer;
}

#Country-Frame {
  position: relative;
  width: 90%;
  left: 5%;
  display: none;
  flex-direction: column;
}

#CF-Base {
  margin-top: 50px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
}
@media (min-width: 1440px) {
  #CF-Base {
    flex-direction: row;
    gap: 50px;
  }
}

#Other-Info {
  gap: 20px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1440px) {
  #Other-Info {
    flex-direction: row;
  }
}

#Country-Flag {
  width: 100%;
  height: auto;
  max-height: 300px;
  max-width: 500px;
  margin-bottom: 20px;
  aspect-ratio: 16/9;
}

.BoxShad {
  box-shadow: 0px 2px 5px hsl(0deg, 0%, 9%);
}

#Back {
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  text-align: center;
}
#Back:hover {
  cursor: pointer;
}

#Country-Name {
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 20px;
}

.Region-Select {
  padding: 10px;
}

#Main-Frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 90%;
  left: 5%;
  gap: 50px;
}
@media (min-width: 1440px) {
  #Main-Frame {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
}

#Template-Country {
  display: none;
}

.Country {
  flex-direction: column;
  width: 250px;
  height: 300px;
  background-color: hsl(209deg, 23%, 22%);
  border-radius: 10px;
  overflow: hidden;
}

.Country-Info {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 5px;
  padding-left: 20px;
  font-size: 14px;
}

.flag {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}
.flag:hover {
  cursor: pointer;
}

.Region {
  padding: 0;
  margin: 0;
}

.country-name {
  padding-top: 5px;
  font-weight: 800;
  font-size: 18px;
  padding-bottom: 15px;
}

span {
  font-weight: 600;
}

#BC {
  font-size: 16px;
  font-weight: 800;
}

#Border-Countries {
  margin-top: 20px;
}

#Border-List {
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  gap: 10px;
}

#Border-Country-Temp {
  display: none;
  padding: 10px;
  background-color: hsl(209deg, 23%, 22%);
  border-radius: 10px;
}

.Border-Country {
  padding: 10px;
  background-color: hsl(209deg, 23%, 22%);
  border-radius: 10px;
}

.Inverted {
  filter: invert(100%);
}

.Arrow-Left {
  width: 25px;
  height: 25px;
}

@media (min-width: 1440px) {
  #Country-Native {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}/*# sourceMappingURL=style.css.map */